<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Popcorn Chicken w/Dip Sauce, Garden Salad, Corn Niblets, WW Dinner Roll, Fruit</string>
		<key>date</key>
		<date>2010-09-08T03:59:59Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>Max Stick &amp; WW Mozzarella Breadstick w/Marinara Sauce, Chilled Rotini Salad w/Veggies, Fruit</string>
		<key>date</key>
		<date>2010-09-09T03:59:59Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>Chicken Nuggets w/Dip Sauce, Garden Salad, Carrot Coins, WW Dinner Roll, Fruit</string>
		<key>date</key>
		<date>2010-09-14T03:59:59Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>Flame-Broiled Burger OR Veggie Burger on Bun Potato Puffs, Veggie Beans, Fruit</string>
		<key>date</key>
		<date>2010-09-15T03:59:59Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>Cheese Ravioli, WW Italian Bread, Tossed Salad w/Lite Dressing, Fruit</string>
		<key>date</key>
		<date>2010-09-16T03:59:59Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>Hard OR Soft Shell Taco w/Lettuce, Cheese &amp; Salsa, Brown Rice Pilaf, Corn Niblets, Fruit</string>
		<key>date</key>
		<date>2010-09-17T03:59:59Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>WW Stuffed Crust Pizza, Baby Carrots &amp; Zucchini Slices w/Dip, Homemade Macaroni Salad, Fruit</string>
		<key>date</key>
		<date>2010-09-18T03:59:59Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>Crispy Chicken Wrap w/BBQ Sauce OR Ranch, Fluffy Rice, Corn Niblets, Fruit</string>
		<key>date</key>
		<date>2010-09-21T03:59:59Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>WW French Toast Sticks w/Syrup, Breakfast Turkey Sausage, Chilled Juice, Fresh Orange Wedges</string>
		<key>date</key>
		<date>2010-09-22T03:59:59Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>Oven Mozzarella Sticks w/Marinara Sauce, WW Italian Bread, Side of Pasta, Green Beans, Fruit</string>
		<key>date</key>
		<date>2010-09-23T03:59:59Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>Baked Scoops Nachos w/Taco Meat, Cheese Sauce &amp; Salsa, Lettuce, Brown Rice Pilaf, Fruit</string>
		<key>date</key>
		<date>2010-09-24T03:59:59Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>5” WW Personal Pizza, Chilled Rotini Salad w/Fresh Veggies, Fruit</string>
		<key>date</key>
		<date>2010-09-25T03:59:59Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>BBQ Chicken Drummies OR Popcorn Chicken w/Dipping Sauce, Garden Salad, Sweet Peas, WW Dinner Roll, Fruit</string>
		<key>date</key>
		<date>2010-09-28T03:59:59Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>BBQ Boneless Rib on WW Bun, Corn Niblets, Homemade Cole Slaw, Fruit</string>
		<key>date</key>
		<date>2010-09-29T03:59:59Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>Chicken Fajita Wrap w/Roasted Peppers, Onions &amp; Salsa, Fresh Veggie Salad, Corn Niblets, Fruit</string>
		<key>date</key>
		<date>2010-09-30T03:59:59Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>Taco Boats w/Lettuce Cheese &amp; Salsa, Brown Rice Pilaf, Corn Niblets, Fruit</string>
		<key>date</key>
		<date>2010-10-01T03:59:59Z</date>
	</dict>
	<dict>
		<key>name</key>
		<string>Max Stick &amp; WW Mozzarella Breadstick w/Marinara Sauce, Chilled Pasta Salad w/Fresh Veggies, Fruit</string>
		<key>date</key>
		<date>2010-10-02T03:59:59Z</date>
	</dict>
</array>
</plist>
